//		SK-M-XC3S50AN

//NET "input50MHZ"  LOC = "p124" | IOSTANDARD = LVCMOS33;

net "SRAM_Addr[0]" LOC = p45 | IOSTANDARD = LVCMOS33;
net "SRAM_Addr[1]" LOC = p44 | IOSTANDARD = LVCMOS33;
net "SRAM_Addr[2]" LOC = p43 | IOSTANDARD = LVCMOS33;
net "SRAM_Addr[3]" LOC = p42 | IOSTANDARD = LVCMOS33;
net "SRAM_Addr[4]" LOC = p41 | IOSTANDARD = LVCMOS33;
net "SRAM_Addr[5]" LOC = p49 | IOSTANDARD = LVCMOS33;
net "SRAM_Addr[6]" LOC = p50 | IOSTANDARD = LVCMOS33;
net "SRAM_Addr[7]" LOC = p51 | IOSTANDARD = LVCMOS33;
net "SRAM_Addr[8]" LOC = p54 | IOSTANDARD = LVCMOS33;
net "SRAM_Addr[9]" LOC = p55 | IOSTANDARD = LVCMOS33;
net "SRAM_Addr[10]" LOC = p57 | IOSTANDARD = LVCMOS33;
net "SRAM_Addr[11]" LOC = p58 | IOSTANDARD = LVCMOS33;
net "SRAM_Addr[12]" LOC = p59 | IOSTANDARD = LVCMOS33;
net "SRAM_Addr[13]" LOC = p60 | IOSTANDARD = LVCMOS33;
net "SRAM_Addr[14]" LOC = p62 | IOSTANDARD = LVCMOS33;
net "SRAM_Addr[15]" LOC = p70 | IOSTANDARD = LVCMOS33;
net "SRAM_Addr[16]" LOC = p69 | IOSTANDARD = LVCMOS33;
net "SRAM_Addr[17]" LOC = p68 | IOSTANDARD = LVCMOS33;
net "SRAM_Addr[18]" LOC = p67 | IOSTANDARD = LVCMOS33;
NET "SRAM_D[0]"  LOC = "p38"   | IOSTANDARD = LVCMOS33; 
NET "SRAM_D[1]"  LOC = "p37"   | IOSTANDARD = LVCMOS33; 
NET "SRAM_D[2]"  LOC = "p46"   | IOSTANDARD = LVCMOS33; 
NET "SRAM_D[3]"  LOC = "p47"   | IOSTANDARD = LVCMOS33; 
NET "SRAM_D[4]"  LOC = "p63"   | IOSTANDARD = LVCMOS33; 
NET "SRAM_D[5]"  LOC = "p64"   | IOSTANDARD = LVCMOS33; 
NET "SRAM_D[6]"  LOC = "p75"   | IOSTANDARD = LVCMOS33; 
NET "SRAM_D[7]"  LOC = "p72"   | IOSTANDARD = LVCMOS33; 
NET "SRAM_OE"  LOC = "p71"   | IOSTANDARD = LVCMOS33; 
NET "SRAM_WE"  LOC = "p48"   | IOSTANDARD = LVCMOS33; 
NET "SRAM_CS"  LOC = "p39"   | IOSTANDARD = LVCMOS33; 


# VGA
NET "VGA_HSYNC" LOC = P101 | IOSTANDARD = LVCMOS33;
NET "VGA_VSYNC" LOC = P103 | IOSTANDARD = LVCMOS33;

NET "VGA_R[1]" LOC = P82 | IOSTANDARD = LVCMOS33;
NET "VGA_R[0]" LOC = P84 | IOSTANDARD = LVCMOS33;

NET "VGA_G[1]" LOC = P87 | IOSTANDARD = LVCMOS33;
NET "VGA_G[0]" LOC = P90 | IOSTANDARD = LVCMOS33;

NET "VGA_B[1]" LOC = P92 | IOSTANDARD = LVCMOS33;
NET "VGA_B[0]" LOC = P96 | IOSTANDARD = LVCMOS33;

# ZX-Spectrum
NET "ZX_R" LOC = P83 | IOSTANDARD = LVCMOS33;
NET "ZX_G" LOC = P85 | IOSTANDARD = LVCMOS33;
NET "ZX_B" LOC = P88 | IOSTANDARD = LVCMOS33;
NET "ZX_I" LOC = P91 | IOSTANDARD = LVCMOS33;

NET "ZX_VSYNC" LOC = P93 | IOSTANDARD = LVCMOS33;
NET "ZX_HSYNC" LOC = P97 | IOSTANDARD = LVCMOS33;

NET "ZX_14M" LOC = P126 | IOSTANDARD = LVCMOS33;